<app-details></app-details>
<app-button></app-button>
<app-event-binding></app-event-binding>
<app-login></app-login>
<app-task-list-for></app-task-list-for>
<app-message-using-switch></app-message-using-switch>
<app-student-list-parent></app-student-list-parent>

<div class="container">
  <h2>User List</h2>

  <input
    type="text"
    [(ngModel)]="searchTerm"
    placeholder="Search by name"
  />

  <!-- <div *ngFor="let user of filteredUsers" class="card">
    <h3>{{ user.name }}</h3>
    <p>Email: {{ user.email }}</p>
    <p>City: {{ user.address.city }}</p>
  </div>
</div> -->

<h1>Shopping App</h1>
<app-product></app-product>
<app-cart></app-cart>



<div class="container">
  <h2>Posts Viewer</h2>

  <div *ngIf="loading">Loading posts...</div>
  <div *ngIf="error" class="error">{{ error }}</div>

  <div *ngIf="!loading && !error">
    <div *ngFor="let post of posts" class="post-card">
      <h3>{{ post.title }}</h3>
      <p>{{ post.body }}</p>
    </div>
  </div>
</div>
